<%= form_with(model: paste, local: true) do |f| %>
  <div class="row">
    <div class="col-lg-12">
      <%= render partial: 'form_errors', locals: { resource: paste } %>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div class="form-group">
        <%= f.label 'Expiration' %>
        <%= f.select :expiration_length_in_minutes, options_for_select(options_for_expiration_length_in_minutes, selected: (@select_param if @select_param.present?)), { include_blank: 'Select...' }, class: 'custom-select form-control' %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control', rows: 25 %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <%= f.submit class: "btn btn-primary" %>
      <%= link_to 'Cancelar', root_path, class: 'btn btn-light', role: 'button' %>
    </div>
  </div>
<% end %>
