<p id="notice"><%= notice %></p>

<h1>Pastes</h1>

<table>
  <thead>
    <tr>
      <th>Expiration length in minutes</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pastes.each do |paste| %>
      <tr>
        <td><%= paste.expiration_length_in_minutes %></td>
        <td><%= paste.content %></td>
        <td><%= link_to 'Show', paste %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paste', new_paste_path %>
